@{
    ViewBag.Title = "TicTacToe";
}

<h2>TicTacToe</h2>

<link href="@Url.Content("~/Content/css/TicTacToe.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/TicTacToe/TicTacToe.js")"></script>


